button{
    margin: 10px;
    background-color: #e3e4ffaa;
    border: 1px solid #a4aaff55;
}

#current-page{
    font-size: 1.1rem;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
